/node_modules
/public/hot
/public/build
/public/storage
/storage/*.key
/vendor
/bootstrap/cache/*.php
.env
.env.*
!.env.example
.phpunit.result.cache
.git
.github
.idea
.vscode
.cursor
tests
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
asd
asd.pub
*.md
!README.md
